################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeamMP-Transporter.zip
export/BeamMP-Transporter.zip
export/Client/TransporterGamemode.zip
